@font-face{
  font-family: SF_Pro_Display;
  src: url("fonts/display.ttf")
}
@font-face{
  font-family: SF_Pro_Text;
  src: url("fonts/text.ttf")
}
body{
    background-color: #3E2B74;
}

.found-page-title{
  text-align: center;
  color: white;
  font-family: SF_Pro_Display;
  font-size: xx-large;
  height: 55px;
}
.found-page-version{
  
  text-align: center;
  color: white;
  font-family: SF_Pro_Display;
  font-size: xx-large;
  height: 55px;
}
.found-page-instance{
  text-align: center;
  color: white;
  font-family: SF_Pro_Display;
  font-size: xx-large;

}
.found-page-buttons-container{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.found-page-buttons{
  width: 500px;
  display: flex;
  justify-content: space-between;

  align-items: center;

}
.btn-learn_more{
  background-color: #6949c5;
  width: 124px;
  height: 57px;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn-learn_more-text{
  color: #FFFFFF;
  font-family: SF_Pro_Display;
  font-weight: bold;
}
.btn-lets_go{
  background-color: #6949c5;
  width: 124px;
  height: 57px;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn-lets_go-text{
  color: #FFFFFF;
  font-family: SF_Pro_Display;
  font-weight: bold;
}
.found-page-credits{
  color: #FFFFFF;
  font-family: SF_Pro_Display;
  font-weight: bold;
  font-size: 16;
  position: fixed;
  margin-bottom: 1px;
  margin-left: 1px;
  bottom: 0;
  left: 0;
}
